<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.googry.coinonehelper">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".CoinoneHelperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.PopupActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/AppTheme.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.setting.SettingActivity"
            android:label="@string/setting"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.setting.DeveloperActivity"
            android:label="@string/developer_page"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.coin_volume.coin_volume_detail.CoinVolumeDetailActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.chart.ChartActivity"
            android:parentActivityName=".ui.main.MainActivity"
            android:screenOrientation="portrait"/>

        <service
            android:name=".background.PersistentService"
            android:enabled="true"
            android:process=":remote"/>

        <receiver
            android:name=".background.RestartReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="RestartService"
            android:process=":remote">
            <intent-filter>
                <action android:name="ACTION.RESTART.PersistentService"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>